<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wis GUI</title>
</head>
<body>
<h1>Welcome to <b>WIS GUI!</b></h1>
<p>
	<table>
	        <tr>
	            <th>AshStorage level</th>
	            <th>RPs in WasteStorage</th>
	            <th>OpRobot status</th>
	            <th>Incinerator burning</th>
	        </tr>
	        <tr>
	            <td id="ashStorageLevel"><span th:text="${ashStorageLevel}">Ash Storage Level</span></td>
	            <td id="wasteStoragePackets"><span th:text="${wasteStoragePackets}">Waste Storage Packets</span></td>
	            <td id="opRobotStatus"><span th:text="${opRobotStatus}">OpRobot status</span></td>
	            <td id="incineratorStatus"><span th:text="${incineratorStatus}">Incinerator status</span></td>
	        </tr>
	    </table>
</p>
</body>
</html>